/* Main*/
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   background: black;
   transition: all 1.5s ease;
}


/* Top Navigation Bar*/
.nav-options {
    list-style-type: none;
    overflow: hidden;
}

.nav {
    display: inline-block;
    padding-top: 1%;
    padding-right: 1%;
    float: right;
}

.nav a {
    display: block;
    color: white;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: solid white 1px;
    border-radius: 5%;
    transition: all .7s ease;
}

nav a:hover {
    background-color:white;
    color: black;
}


/*ABOUT ME PAGE*/
/* _____________________________________________________________*/

/* NAME on main page animated*/
.fly-in-text{
    list-style: none;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li{
display: inline-block;
margin-right: 30px;
color:white;
font-weight: 300;
font-size: 55px;
transition: all 2.5s ease;
font-family: 'Orbitron', sans-serif;
}

.fly-in-text li:last-child{
    margin-right:0;
}

.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(100px) translateY(-200px);}
.fly-in-text.hidden li:nth-child(2) { transform: translateX(-200px) translateY(100px);}
.fly-in-text.hidden li:nth-child(3) { transform: translateX(100px) translateY(-500px);}
.fly-in-text.hidden li:nth-child(4) { transform: translateX(-30px) translateY(200px);}
.fly-in-text.hidden li:nth-child(6) { transform: translateX(-300px) translateY(200px);}
.fly-in-text.hidden li:nth-child(7) { transform: translateX(20px) translateY(-300px);}
.fly-in-text.hidden li:nth-child(8) { transform: translateX(-100px) translateY(100px);}
.fly-in-text.hidden li:nth-child(9) { transform: translateX(100px) translateY(-300px);}

.first-letter{
    font-size: 100px;
}


/* background color for scroll*/
.changeColor {
    background: white;
 }

 /* About me*/
 .main-about-me{
     margin-top: 20%;
 }
 .about-content{
     padding-top: 5%;
     margin-left: 20%;
     margin-right:20%;
     position: relative;  
 }

 .hide {
     display: none;
 }
 
 /* Front-End Developer Sign*/
 #web-dev{
margin-top:350px;
margin-left: 20%;
margin-right:20%;
border: white solid 2px;
padding:.5%;
text-align: center;
background: black;
color:white;
 }

 #web-dev:hover{
border:solid 2px #8b0000;
background: black;
color: white;
transition: 2.5 all ease;
 }

  /* FOOTER*/

 .footer {
    position: relative;
    margin-top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    color:white;
    text-align: center;
  }


#sub-heading{
 font-size: 100px;
 color: #8b0000;
 padding-bottom: 5%;
 text-align: center;

}

.sub-heading2{
    font-size: 20px;
    padding: 2%;
    margin-bottom: 2%;
    color:black;
    border-bottom: solid 2px #8b0000;
}

  /* skills icons*/

.icons{
    margin-left: 5%;
    border: solid black 3px;
    border-radius: 27%;
    }


.icons:hover{
    border: solid #8b0000 3px;
border-radius: 23%;
}

.social-links{
    padding-top: 5%;
     margin-left: 20%;
     margin-right:20%;
     position: relative; 
}

.link-icon{
    width: 50px;
    height:50px;
    position: relative;
    padding: 5%;
    transition: all 0.3s ease-in;
}

.link-icon:hover{
    background: #8b0000;
    border-radius: 50%;
}


/* PROJECTS PAGE */
/* -------------------------------------*/

.logo-placeholder {
    font-size: 30px;
    color: white;
    padding: 10px;
    position: absolute;
}
.projects-container{

    background-color: white;
    margin-top: 1%;
    padding-top: 3%;
    align-content: center;
    padding-left: 7%;
    height: 1000px;
}


.proj-display{
    border: #8b0000 4px solid;
    border-radius: 5%;
    position: relative;
    width:300px;
    height: 200px;
    float: left;
    padding: 5px;
    margin: 2%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

.proj-display:hover .image{
  opacity: 0.3;
}
.proj-display:hover .middle{
  opacity: 1;
}

.text{
    background: white;
    color:black;
    font-size: 50px;
    padding:1px;
}








/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,

.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

  /* MEDIA QUERIES*/

@media only screen and (max-width: 1300px) {
    .fly-in-text li {
        font-size: 65px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .fly-in-text li {
        font-size: 40px;
        margin: 10px;
    }
}


@media only screen and (max-width: 1100px) {
    .fly-in-text li {
        margin: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .fly-in-text li {
        margin: auto;
    }
}


@media only screen and (max-width: 800px) {
    .fly-in-text li {
        margin: auto;
        background-color: #8b0000;
    }

    #web-dev{
        font-size: 10px;
    }

    .nav {
       align-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .fly-in-text li {
        font-size: 40px;
        margin: auto;
        background-color: #8b0000;
    }

    #web-dev{
        font-size: 10px;
    }

    .nav {
       align-content: center;
    }
    .main-about-me{
        margin-top: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .fly-in-text li {
        font-size: 25px;
        margin: auto;
        background-color: blue;
    }
    #web-dev{
        font-size: 10px;
    }
    .nav {
        align-content: center;
     }


     .main-about-me{
        margin-top: 50%;
    }
}


/*CONTACT PAGE*/
/* _____________________________________________________________*/


.main-contact{
    padding-top:5%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}